.profile {
    .watchlist {
		.watchlistItem {
			display: flex;
			border-bottom: 1px solid black;
			justify-content: space-between;

			div {
				position: relative;
				top: 9px;
				color: red;
			}

			button {
				width: 70px;
				margin-left: 1rem;
			}
		}

		.watchlistItem:last-of-type {
			border-bottom: unset;
		}
	}
}