.MobileMenu {
    .hamburgerMenu {
        .login {
            position: absolute;
			bottom: 50px;
			left: 30%;
        }
    }
}

.searchLogincontainer {
    .Login {
        line-height: 54px;
		position: absolute;
		right: 5%;
		align-items: center;
    }
}

@media (max-width: 780px) {
    .searchlogincontainer .login {
		right: 2%;
	}
}